<header class="header">

  <div id="leftstripe">&nbsp;</div>
  <div id="rightstripe">&nbsp;</div>

	<div id="main-title">
		<a href="{{ site.baseurl }}/">{{ site.title }}</a>
	</div>

    <hr>
	<div id="head-bar" align="center">
	<span class="head-separator"> : </span> 
	 <a href="{{ site.baseurl }}/">Blog</a>
	<span class="head-separator"> : </span> 
		{% for page in site.pages %}
          {% if page.tag == "menu" && page.title %}
          <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          <span class="head-separator"> : </span> 
          {% endif %}
        {% endfor %}
        <br>
        <div style="font-size: .6em">... we live in a complex world ...<div>
	</div>
    <hr>


</header>
